<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <title>OOP </title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="home">Home</a>
        <a href="menu"> Menu </a>
        <a href="login"> Login! </a>
        <a href="user"> Profile </a>
      </div>

      
    <section class= "main">
        <div class="container">
            <a href="login" ><button class="row glass-button"> Login! </button> </a>
            <a href="menu"> <button class="row glass-button" > See Menu! </button> </a> 

        </div>
        
    </div>

</body>
</html>