<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <title> OOP </title>
</head>
<body>

    <div class="topnav">
        <a class="active" href="user">Home</a>
        <a href="menu"> Menu </a>
        <a href="login"> Login! </a>
        <a href="user"> Profile </a>
      </div>

    <h1> Logout </h1>


    <form action = "http://localhost:5000/logout" method = "post">
        <input type = "submit" value = "Logout" name="Logout"/>
     </form>   
</body>
</html>