<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>

    <div class="topnav">
        <a class="active" href="home">Home</a>
        <a href="menu"> Menu </a>
        <a href="login"> Login! </a>
        <a href="user"> Profile </a>
      </div>


    <h1> Menu Page </h1>

    <section class="menu">
        
        <div class="grid">

            {% for x in content %}
            <div class='menuitem'>
               
               <img  class="image" src= {{x.image}}  alt={{x.name}}>
               <h4 class = "text">  {{x.name}} , {{x.price}}  </h4> 
            </div>
            {% endfor %}

        </div>
       
    </section>

    
</body>
</html>