<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="home">Home</a>
        <a href="menu"> Menu </a>
        <a href="login"> Login! </a>
        <a href="user"> Profile </a>
      </div>

<section class="orderpage">
    <div class="order-container">
        <div class="row forms" >
            <form  id="order-form" action="http://localhost:5000/order" method="POST">
                <label for="Pizza"> Select a Pizza </label>
                <select id="pizza" name="pizzaselector">
                    <option value="Pepperoni" name="peperoni">  Peperoni </option>
                    <option value="Cheese"> Cheese </option>
                    <option value="Pesto"> Pesto </option>
                    <option value="Meat Lovers"> MeatLovers </option>
                    <option value="Vegetarian"> Vegetarian </option>
                </select>
                <input type="submit" value="Submit Pizza" />
            </form>
        
            <form  id="order-form" action="http://localhost:5000/order" method="POST">
                <label for="pasta"> Select a Pizza </label>
                <select id="pasta" name="pastaselector">
        
                    <option value="Pesto" >  Pesto</option>
                    <option value="Chicken Alfredo"> Chicken Alfredo </option>
                    <option value="Shrimp Alfredo"> Shrimp Alfredo </option>
                    <option value="Lasagna"> Lasagna</option>
                    <option value="Scampi"> Scampi  </option>
        
                </select>
                <input type="submit" value="Submit Pasta" />
            </form>
        
            <form  id="order-form" action="http://localhost:5000/order" method="POST">
                <label for="beverage"> Select a Pizza </label>
                <select id="beverage" name="beverageselector">
                    <option value="Coke" >  Coke  </option>
                    <option value="Sprite"> Sprite </option>
                    <option value="Root Beer"> Root Beer </option>
                    <option value="Beer"> Beer </option>
                    <option value="Mimosa">  Mimosa </option>
                </select>
                <input type="submit" value="Submit Beverage" />
            </form>
        
        
            <form  id="order-form" action="http://localhost:5000/order" method="POST">
                <input class="glass-button" type="submit" value="Clear Order Items" name="clear"/>
            </form>
        
            <form  id="order-form" action="http://localhost:5000/order" method="POST">
                <input class="glass-button" type="submit" value="Complete Order" name="checkout"/>
            </form>
        </div>
        
    
        <div class="row ordersummary">
            <div>
                {% for x in content %}
                    <div class='menuitem'>
                       <h5> [ Item: {{x.name}}     , price: {{x.price}}    ]</h5> 
                    </div>
                {% endfor %}
            </div>
            <div>
                Order Total is : {{ordertotal}}
            </div>
        </div>


    </div>






</section>

   
   
    

    

</body>
</html>