<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="home">Home</a>
        <a href="menu"> Menu </a>
        <a href="login"> Login! </a>
      </div>

    <h1> Orders Page </h1>

    <script >
        function addPizzaSection() {
            let form_element = '<select id="pizza" name="pizzas"> <option value="peperoni">  Peperoni </option> <option value="cheese"> Cheese </option> <option value="pesto"> Pesto </option> <option value="meatlovers"> MeatLovers </option> <option value="white"> Chicken </option></select> '
            document.getElementById("order-form").innerHTML = form_element 
        }
    </script>

    <button onClick="addPizzaSection()"> Add Pizza </button>
    <button> Add Salad </button>
    <button> Add Pasta</button> 
    <button> Add Beverage </button>

    <form  id="order-form" action="http://localhost:5000/order" method="POST">
        <label for="Pizza"> Select a Pizza </label>
        <select id="pizza" name="pizzas">
        <option value="peperoni" name="peperoni">  Peperoni </option>
        <option value="cheese"> Cheese </option>
        <option value="pesto"> Pesto </option>
        <option value="meatlovers"> MeatLovers </option>
        <option value="white"> Chicken </option>
        </select>


        <input type="submit" value="submit" />

    </form>
    
</body>
</html>